<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset - not sure what this actually does but milligram needs it-->
    <link rel="stylesheet" href="../node_modules/normalize.css/normalize.css">

    <!-- Milligram CSS minified -->
    <link rel="stylesheet" href="../node_modules/milligram/dist/milligram.min.css">

    <title>HabitBounty</title>

  </head>
  <body>
    <h4>Welcome to HabitBounty</h4>
    {{#if error}}<h6>{{error}}</h6>{{/if}}
    {{#if habits}}
    <h5>Your habits:</h5>
    <table>
      <tbody>
        {{#each habits}}
        <tr>
          <td>
            <form action="api-call-here">
              <input type="checkbox" name="completed" value="completed"/>
            </form>
          </td>
          <td>{{name}}</td>
          <td>${{reward}}</td>
        </tr>
        {{/each}}
  </body>
</html>
